<div id="404" class="row">
  <div class="span12">

    <h2>{{ 'general.404.title' | t }}</h2>
    <span class="subtext">{{ 'general.404.subtext' | t }}</span>

  </div>
</div>

{% if shop.products_count == 0 %}
  <script type="text/javascript">
    (function() {
      if ( window.location.pathname === "/products/example-product" ) {
        document.title = "Example Product";
        $("#404").hide().after('<div class="clearfix helper-section"><div class="note helper-note helper-product"><i class="icon-products helper-icon"></i><h3>This is an example of a product page</h3><p>Add your own product to see this page in action and to take the first step in testing orders.</p><p><a href="/admin/products/new" class="admin-btn-primary">Add a product</a></p></div><div class="helper-content clearfix"><div id="product" class="example-product"><div class="row"><div class="span12"><div class="breadcrumb clearfix"><a href="/">Home</a><span class="arrow-space">&gt;</span><a href="/collections/all" title="All Products">Products</a><span class="arrow-space">&gt;</span><strong>Example Product</strong></div></div><div class="span6"><div class="featured"><img src="{{ "product-1.png" | asset_url }}" alt="Example Product"></div></div><div class="span6"><h1 class="title">Example Product</h1><div class="purchase"><h2 class="price">$79.99</h2></div><div class="clearfix"><div class="product-options no-options "><a class="btn">Add to cart</a></div></div><div class="description"><span>This is where your product description is displayed. For tips on writing effective descriptions check out <a href="http://www.shopify.com/blog/8211159-9-simple-ways-to-write-product-descriptions-that-sell?utm_source=default-theme&utm_medium=contextual&utm_campaign=default-theme-products-tooltips-experiment" target="shopify_info" title="9 simple ways to write product descriptions that sell">9 simple ways to write product descriptions that sell.</a></span></div></div></div></div></div></div>');
      }
    })();
  </script>
{% endif %}
